<div *ngIf="hero">

    <h2>{{hero.name | titlecase }} the {{hero.job | titlecase }}</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <form *ngIf="heroes" action="">

       <label for="combat">Défiez un adversaire</label><br />
       <select name="combat" id="combat">
           <option *ngFor= "let ennemy of heroes" value="{{ennemy.name}}">{{ennemy.name}}</option>
       </select>

    <input type="submit" value="Défier">
  </form>
  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>

</div>
