<div *ngIf="hero">

    <h2>{{hero.name | titlecase }} the {{hero.class | titlecase }}</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <form action="">

       <label for="pays">Dans quel pays habitez-vous ?</label><br />
       <select name="pays" id="pays">
           <option *ngFor= "let ennemy of heroes"  value="{{ennemy.name}}">{{hero.name}}</option>
       </select>

    <input type="submit" value="Défier">
  </form>
  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>

</div>
